@{
    ViewData["Title"] = "Заказ";
}
<h2>Оформление заказа</h2>
<h5><strong>Уточните детали</strong></h5>
<div class="col col_13 checkout">
    Введите ваше имя, как на банковской карте:                				<input type="text" style="width:300px;" />
    Адрес:
    <input type="text" style="width:300px;" />
    Город:
    <input type="text" style="width:300px;" />
    Страна:
    <input type="text" style="width:300px;" />
</div>

<div class="col col_13 checkout">
    E-MAIL
    <input type="text" style="width:300px;" />
    ТЕЛЕФОН<br />
    <span style="font-size:10px">Пожалуйста, вводите действующий номер телефона, чтобы мы могли позвонить Вам и подтвердить заказ.</span>
    <input type="text" style="width:300px;" />
</div>

<div class="cleaner h50"></div>
<h3>Корзина</h3>
<h4>ИТОГ: <strong>$140</strong></h4>
<p><input type="checkbox" />Я согласен с правилами <a href="#">Покупки и продажи</a>.</p>
<table style="border:1px solid #CCCCCC;" width="100%">
    <tr>
        <td height="80px"> <img src="~/Assets/paypal.gif" alt="paypal" /></td>
        <td width="400px" style="padding: 0px 20px;">
            Recommended if you have a PayPal account. Fastest delivery time.
        </td>
        <td><a href="#" class="more">PAYPAL</a></td>
    </tr>
    <tr>
        <td height="80px">
            <img src="~/Assets/2co.gif" alt="paypal" />
        </td>
        <td width="400px" style="padding: 0px 20px;">
            2Checkout.com, Inc. is an authorized retailer of goods and services provided by Template-Guide.com. 2CheckOut accepts customer orders via online checks, Visa, MasterCard, Discover, American Express, Diners, JCB and debit cards with the Visa, Mastercard logo.
        </td>
        <td><a href="#" class="more">2CHECKOUT</a></td>
    </tr>
</table>
