@{
    ViewData["Title"] = "Контакты";
}
<h2>Контактная информация</h2>
<div class="col col_13">
    <h5>Город Москва</h5>
    ул, Тимирязевская<br />
    дом 17А<br />
    Вход со двора <br /><br />
    <strong>Телефон:</strong> +7 962 158 22 02<br />
    <strong>Email:</strong> isip_m.a.a.lihacheva@mpt.ru <br />
    <div class="cleaner divider"></div>

    <div class="cleaner h30"></div>

    <h5>Город Иваново</h5>
    ул. Фрунзе <br />
    дом 5, корпус 1<br />
    <strong>Телефон:</strong> +7 965 296 15 21<br />
    <strong>Email:</strong> isip_m.a.a.lihacheva@mpt.ru <br />
</div>

<div class="cleaner h30"></div>

<iframe width="660" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2241.927847466745!2d37.56489631549143!3d55.8118529949041!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b549df7ebfe301%3A0xdfa1f360f559bd14!2z0KLQuNC80LjRgNGP0LfQtdCy0YHQutCw0Y8g0YPQuy4sIDE30JAsINCc0L7RgdC60LLQsCwgMTI3NDIy!5e0!3m2!1sru!2sru!4v1600683900792!5m2!1sru!2sru" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>