@{
    ViewData["Title"] = "Главная";
    Layout = "_Layout";
}
<h2>Детали</h2>
<div class="col col_13">
    <a rel="lightbox[portfolio]" href="~/Assets/product/10_l.jpg" title="Lady Shoes"><img src="~/Assets/product/10_l.jpg" style="width: 300px;" alt="Image 10" /></a>
</div>
<div class="col col_13 no_margin_right">
    <table>
        <tr>
            <td height="30" width="160">Цена:</td>
            <td>$100</td>
        </tr>
        <tr>
            <td height="30">В наличии:</td>
            <td>На складе</td>
        </tr>
        <tr>
            <td height="30">Модель:</td>
            <td>14</td>
        </tr>
        <tr>
            <td height="30">Производитель:</td>
            <td>Apple</td>
        </tr>
        <tr><td height="30">Количество</td><td><input type="text" value="1" style="width: 20px; text-align: right" /></td></tr>
    </table>
    <div class="cleaner h20"></div>
    <a href="shoppingcart.html" class="add_to_cart">Добавить в корзину</a>
</div>
<div class="cleaner h30"></div>

<h5><strong>Описание</strong></h5>
<p>Удобная женская убовь из натуральной кожи с тканевыми вставками. Почти не пачкается, качественно прошитая бечевкой. Подходит для регулярной носки.</p>

<div class="cleaner h50"></div>

<h4>Другие продукты</h4>
<div class="col col_14 product_gallery">
    <a href="productdetail.html"><img src="~/Assets/product/01.jpg" alt="Product 01" /></a>
    <h3>Лампа</h3>
    <p class="product_price">$ 100</p>
    <a href="shoppingcart.html" class="add_to_cart">Добавить в корзину</a>
</div>
<div class="col col_14 product_gallery">
    <a href="productdetail.html"><img src="~/Assets/product/02.jpg" alt="Product 02" /></a>
    <h3>Рулетка</h3>
    <p class="product_price">$ 50</p>
    <a href="shoppingcart.html" class="add_to_cart">Добавить в корзину</a>
</div>
<div class="col col_14 product_gallery no_margin_right">
    <a href="productdetail.html"><img src="~/Assets/product/03.jpg" alt="Product 03" /></a>
    <h3>Ручной вентилятор</h3>
    <p class="product_price">$ 200</p>
    <a href="shoppingcart.html" class="add_to_cart">Добавить в корзину</a>
</div>
<a href="#" class="more float_r">Посмотреть все</a>

<div class="cleaner"></div>
